:root{
    --main-color: #006363;
}
*{ box-sizing: border-box;}
/* start global css */
a{
    text-decoration: none;
    color:#fff;
    cursor: pointer;
}
ul{list-style: none;}
body{ font-family: 'Open Sans', sans-serif;}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.clear-fix{clear: both;}
/* end global css */
/* start setting box */
.setting-box{
    position: fixed;
    z-index: 1000;
    min-height: 100vh;
    width: 20%;
    background-color: rgb(164 164 164 / 50%);
    top: 0;
    left: -20%;
    transition: .4s ease;
    border: 1px solid #eee;
    box-shadow: 2px 0px 5px 1px #b6b6b6;
}
.setting-box.open{
    left: 0;
}
.setting-box .toggle-setting{
    position: absolute;
    right: -35px;
    top: 50%;
    background-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--main-color);
}
.setting-box .option-box{
    margin: 3% auto;
    padding: 5%;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.3rem;
    text-align: center;
    width: 95%;
    overflow: auto;
}
.setting-box .option-box h4{
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
    font-size: 1rem;
}
.setting-box .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.setting-box .option-box .colors-list li{
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    opacity: .4;
    display: inline-block;
}
.setting-box .option-box .colors-list li:hover{opacity: 1;}
.setting-box .option-box .colors-list .active{
    opacity: 1;
    transform: scale(1.3);
}
.setting-box .option-box .colors-list li:first-child{ background-color: #006363;}
.setting-box .option-box .colors-list li:nth-child(2){ background-color: #ac1649;}
.setting-box .option-box .colors-list li:nth-child(3){ background-color: #00645a;}
.setting-box .option-box .colors-list li:nth-child(4){ background-color: #025e88;}
.setting-box .option-box .colors-list li:last-child{ background-color: #2b642e;}
.setting-box .option-box .yes,
.setting-box .option-box .no{
    background-color: rgba(0 186 125 / 30%);
    display: inline-block;
    padding: 2px;
    margin-top: 10px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .11rem;
    border-radius: 3px;
}
.setting-box .option-box .active{background-color: rgb(0 186 125);}
/* end setting box */
/* start nav bullets */
.nav-bullets{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px;
    z-index: 12;
}
.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid #373737;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet .tooltip{
    background-color: #373737;
    width: 115px;
    color: #fff;
    padding: 4px 10px;
    position: absolute;
    right: 30px;
    top: -6px;
    border-radius: 3px;
    display: none;
    cursor: default;
    pointer-events: none;
    text-align: center;
}
.nav-bullets .bullet:hover .tooltip{display: block;}
.nav-bullets .bullet .tooltip::before{
    content: '';
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent transparent #373737;
    right: -21px;
    top: 50%;
    transform: translateY(-50%);
}
.resetOpts{
    background-color: #f44336;
    border: none;
    width: 80%;
    margin: 5% auto;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 5%;
    border-radius: 4px;
    cursor: pointer;
    overflow: auto;
}
/* end nav bullets */
/* start landing section */
.landing-page{
    position: relative;
    min-height: 100vh;
    background-image: url('../img/work-1.jpg');
    background-position: center center;
    background-size: cover;
}
.landing-page .overlay{
    background-color: rgba(0 0 0 / .5);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}
.landing-page .header-area{
    display: flex;
    position: relative;
    z-index: 12;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.landing-page .header-area .logo{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 20px;
    width: 100%;
}
.linksContainer{
    display: flex;
    justify-content: right;
    width: 100%;
}
.landing-page .header-area .links{
    padding-right: 20px;
    padding-left: 0;
}
.landing-page .header-area .links .active{color: var(--main-color)}
.landing-page .header-area .links li{
    display: inline-block;
    padding: 0 5px;
}
.landing-page .header-area .links li:hover a{
    color: var(--main-color);
    transition: .5s ease;
}
.toggleUl{
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin: 15px 0;
    display: none;
}
.toggleUl:focus{outline: none;}
.toggleUl span{
    display: block;
    background-color: #fff;
    height: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
}
@media screen and (max-width: 1000px) {
    .toggleUl{display: block;}
    .landing-page .header-area .links{display: none;}
    .landing-page .header-area .links.open{
        background-color: rgba(255 255 255 /.8);
        display: flex;
        position: absolute;
        top: 50px;
        border-radius: 4px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        padding-top: 10px;
        width: 50%;
        left: 45%;
    }
    .landing-page .header-area .links.open li a{
        color: var(--main-color);
        width: 100%;
        display: block;
    }
    .landing-page .header-area .links.open li{
        margin-bottom: 10px;
        width: 100%;
        padding: 5px 10px;
    }
    .landing-page .header-area .links.open li:hover{background-color: #ccc;}
    .landing-page .header-area .links.open li:hover a{
        padding-left: 20px;
        transition: .8s ease;
    }
}
.landing-page .introText{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 100%;
}
.landing-page .introText h1 {font-size: 3rem;}
.landing-page .introText span{color: var(--main-color);}
/* end landing section */
/* start about us */
.about-us{
    padding: 50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 838px) {
    .about-us{
        flex-direction: column;
        text-align: center;
    }
}
.about-us .info-box{
    flex:1;
    padding: 30px;
}
.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
}
.about-us .info-box p{
    line-height: 1.8;
    color:#767676;
    margin: 0;
}
.about-us .img-box{
    flex:1;
}
.about-us .img-box img{
    width: 100%;
    border-radius: 5px
}
/* end about us */
/* start skills */
.skills{
    padding: 50px 30px 50px 30px;
    background-color: #eee;
}
.skills h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.skills .skill-box{
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.skills .skill-box .skill-name{
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}
.skills .skill-box .skill-progress{
    height: 30px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.skills .skill-box .skill-progress span{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #03a9f4;
    left: 0;
    top: 0;
    transition: .7s linear;
}
@media screen and (max-width: 838px) {
    .skill-box{
        flex-direction: column;
        align-items: center;
    }
    .skill-box .skill-name{margin-bottom: 10px;}
}
/* end skills */
/* start gallery */
.gallery{padding: 50px 30px 50px 30px;}
.gallery h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.gallery .imgs-box{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery .imgs-box img{
    width: 33%;
    padding: 5px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 1px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
}
@media screen and (max-width: 480px) {
    .gallery .imgs-box img{width: 50%;}
}
.popup-overlay{
    position: fixed;
    background-color: rgba(0 0 0 / .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1001;
    width: 35%;
}
.popup-box h3{
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color)
}
.closBtn{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
}
.popup-box img{max-width: 100%;}
/* end gallery */
/* start timeline */
.timeline{
    padding: 50px 30px 50px 30px;
    background-color: #eee;
}
.timeline h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.timeline .timeline-content{
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content::before{
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}
.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
.timeline .timeline-content .left{float: left;}
.timeline .timeline-content .right{float: right;}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before{
    content: '';
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 20px;
}
.timeline .timeline-content .left::before{right: -35px;}
.timeline .timeline-content .right::before{left: -35px;}
.timeline .timeline-content .content{
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.timeline .timeline-content .content h3{
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
}
.timeline .timeline-content .content p{
    color: #666;
    margin: 0;
    line-height: 1.6;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before{
    content: '';
    border-width: 10px;
    border-style: solid;
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
}
.timeline .timeline-content .left .content::before{
    right: -20px;
    border-color: transparent transparent transparent #fff;
}
.timeline .timeline-content .right .content::before{
    left: -20px;
    border-color: transparent #fff transparent transparent;
}
@media screen and (max-width: 780px) {
    .timeline .timeline-content .left,
    .timeline .timeline-content .right { width: 100%;}
}
/* end timeline */
/* start features */
.features{padding: 80px 0 80px 0;}
.features h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.features .feat-box{
    width: calc(100% / 3);
    text-align: center;
    margin-bottom: 40px;
    padding: 10px;
}
.features .collct{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
    .features .collct{flex-direction: column;}
    .features .feat-box{width: 100%;}
}
.features .feat-box img{
    width: 100%;
    border-radius: 3px;
}
.features .feat-box h4{
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: var(--main-color);
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}
.features .feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.6;
    color: #706f6f;
}
/* end features */
/* start testimonials */
.testi{
    position: relative;
    padding: 80px 0 80px 0;
}
.testi::before{
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #333;
    height: 100%;
}
.testi::after{
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}
.testi h2{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0 0 30px;
    text-align: left;
    position: relative;
    z-index: 2;
}
.testi .testi-box{
    position: relative;
    z-index: 2;
    width: calc(98% /3);
    float: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
@media screen and (max-width: 600px) {
    .testi .testi-box{
        width: 100%;
        margin-bottom: 15px;
    }
}
.testi .testi-box:not(:last-of-type){margin-right: 1%;}
.testi .testi-box > p{
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 18px;
    color: #707070;
    font-style: italic;
}
.testi .testi-box .prsn-info{overflow: hidden;}
.testi .testi-box .prsn-info img{
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}
.testi .testi-box .prsn-info h4{margin: 14px 0 10px;}
.testi .testi-box .prsn-info p{
    color: #707070;
    margin: 0;
}
/* end testimonials */
/* start contact */
.contact{
    min-height: 600px;
    background-image: url(../img/world_map_more_detail_clip_art_24317.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 80px 0 80px 0;
}
.contact .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255 255 255 / .5);
}
.contact .container{
    position: relative;
    z-index: 2;
}
.contact h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    margin: 10px auto;
}
.contact form input:focus,
.contact form textarea:focus {outline: 1px solid var(--main-color);}
.contact form .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact form .left input{margin: 0 5% 5% 0;}
.contact form .left input,
.contact form .right textarea{
    padding: 4%;
    border: 1px solid #ccc;
    background-color: rgba(218,218,218,.19);
    border-radius: 3px;
}
.contact form .right{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}
textarea {
    height: 125px;
}
.contact form .right input[type="submit"]{
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    margin-top: 10%;
    border-radius: 3px;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder{
    opacity: 0;
    transition: .5s ease;
}
@media screen and (max-width: 750px) {
    .contact form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact form .right{margin: 0;}
    .contact form .left input{
        width: 150%;
        margin-right: 0;
    }
    .contact form .right input,
    .contact form textarea{width: 150%;}
/* end contact */
/* start footer */
.footer{
    background-color: #333;
    color: #eee;
    text-align: center;
    padding: 20px;
}
/* end footer */